<strong>Olá, {{ studentName }}</strong>
<p>Sua matrícula foi registrada com sucesso. Veja os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ planTitle }} <br />
  <strong>Valor: </strong> {{ price }} <br />
  <strong>Início: </strong> {{ start_date }} <br />
  <strong>Fim: </strong> {{ end_date }} <br />
  <br />
</p>
