<strong>Hello, {{ student }}</strong>
<p>Your enrolment was successfully registered. See details below:</p>
<p>
  <strong>Plan: </strong> {{ plan }} <br />
  <strong>Price: </strong> {{ price }} <br />
  <strong>Start Date: </strong> {{ start_date }} <br />
  <strong>End Date: </strong> {{ end_date }} <br />
  <br />
</p>
